<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeManager" />
                <binding name="WSHttpBinding_IEmployeeReader" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62293/EmployeeManagementService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeManager"
                contract="EmployeeServiceReference.IEmployeeManager" name="WSHttpBinding_IEmployeeManager">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:62293/EmployeeManagementService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeReader"
                contract="EmployeeServiceReference.IEmployeeReader" name="WSHttpBinding_IEmployeeReader">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>